# Ignore node_modules folders at any level
node_modules/

# Ignore specific Firebase service account key (for security)
private/firebase/serviceAccountKey.json

# Ignore environment variable files
.env
frontend/.env